body {
	padding:150px 100px;
	background-color:#f6f6f6;
	text-align:center;
	font-family:'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:20px;
}

ul, ol, li, fieldset {
	border:0px;
	margin:0px;
	padding:0px;
	list-style:none;
}

.hidden {
	display: none;
}

a {
	color:blue;
}

#signUp {
	border:10px solid #ccc;
	background-color:#fff;
	xpadding:10px 15px;
	width:650px;
	margin:auto;
	text-align:left;
	font-size:0.8em;
}

#signUpForm {
	height:250px;
	overflow:hidden;
}

.formSection li {
}

#signUp label {
	margin-bottom:5px;
	display:block;
}
#signUp label span {
	color:#656;
	font-size:0.7em;
}

#signUp input {
	font-size:1.0em;
	width:310px;
	padding:6px;
}

#passwordStrength {
}

.formValidation {
	display:block;
	position:absolute;
	margin-top:-29px;
	margin-left:298px;
}
.formValidation i {
	font-size:1.5em;
}

.formValidation aside span {
	position:absolute;
	color:#ccc;
	font-size:0.8em;
	padding:6px;
	background-color:#333;
	margin-top:-8px;
	margin-left:5px;
	padding:4px 8px;
}
.formValidation aside span em {
	color:#fff;
	display:block;
}

.formValidation .bad {
	color:#f00;
}
.formValidation .weak {
	color:orange;
}
.formValidation .good {
	color:green;
}
.formValidation .grey {
	color:#ccc;
}

#signUp input.submit {
	font-size:0.9em;
	width:110px;
	padding:2px;
}

.formSection li {
	margin-top:15px;
}

#signUpBreadcrumb {
	display:block;
	float:left;
	width:150px;
	padding:10px;
	font-size:0.8em;
}

#signUpBreadcrumb li a {
	padding:3px 6px;
	margin-bottom:6px;
	color:#888;
	display:block;
	text-decoration:none;
}

#signUpBreadcrumb li.active a {
	color:#000;
	background-color:#f6f6f6;
}

#signUpBreadcrumb li a:hover {
	background-color:#eee;
	color:#000;
}

.section {
	height:200px;
	padding:10px;
}

.httpHelper {
	display:;
	float:left;
	width:42px;
	padding:4px 2px;
	margin-right:5px;
}

.httpInput {
	width:263px !important;
}