body {
	background-color:#f6f6f6;
	padding:0px 100px !important;
	margin:0px;
	text-align:center;
	font-family:'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:20px;
}

ul, ol, li, fieldset, h1 {
	border:0px;
	margin:0px;
	padding:0px;
	list-style:none;
}

div#content {
	background-color:#e6e6e6;
	padding:75px 50px 150px 50px;
	text-align:left;
}

h1 {
	font-size:2em;
	padding-bottom:15px;
	margin-bottom:20px;
	border-bottom: 1px solid #999;
}

p {
	margin-bottom:15px;
}

.hidden {
	display: none;
}

a {
	color:blue;
}

#signUp {
	display:none;
}
#why {
	border:10px solid #ccc;
	background-color:#fff;
	width:650px;
	margin:auto;
	text-align:left;
	font-size:0.8em;
	padding:10px 0px;
}

#signUpDetails {
	height:250px;
	overflow:hidden;
}

.formSection li {
}

#why label {
	margin-bottom:5px;
	display:block;
}
#why label span {
	color:#656;
	font-size:0.7em;
}

#why input {
	font-size:1.0em;
	width:310px;
	padding:6px;
}

#passwordStrength {
}

.formValidation {
	display:block;
	position:absolute;
	margin-top:-29px;
	margin-left:298px;
}
.formValidation i {
	font-size:1.5em;
}

.formValidation aside span {
	position:absolute;
	color:#ccc;
	font-size:0.8em;
	padding:6px;
	background-color:#333;
	margin-top:-8px;
	margin-left:5px;
	padding:4px 8px;
}
.formValidation aside span em {
	color:#fff;
	display:block;
}

.formValidation .bad {
	color:#f00;
}
.formValidation .weak {
	color:orange;
}
.formValidation .good {
	color:green;
}
.formValidation .grey {
	color:#ccc;
}

#why input.submit {
	font-size:0.9em;
	width:110px;
	padding:2px;
}

#why li p {
	display:inline;
	margin-left:5px;
	font-size:0.8em;
}
#why li p a {
	color:#666;
}

.formSection li {
	margin-top:15px;
}

#signUpBreadcrumb {
	display:block;
	float:left;
	width:150px;
	padding:10px;
	font-size:0.8em;
}

#signUpBreadcrumb li a {
	padding:3px 6px;
	margin-bottom:6px;
	color:#888;
	display:block;
	text-decoration:none;
}

#signUpBreadcrumb li.active a {
	color:#000;
	background-color:#f6f6f6;
}

#signUpBreadcrumb li a:hover {
	background-color:#eee;
	color:#000;
}

.section {
	width:350px;
	height:200px;
	padding:0px 10px;
}

h3 {
	margin:0px 0px 5px 0px;
	padding:0px;
}

.httpHelper {
	float:left;
	padding:0px 2px;
	margin:7px 5px 0px 0px;
}

.httpInput {
	width:263px !important;
}

#cboxContent, #cboxLoadedContent {
	background:none;
}