body {
	padding:250px 100px;
	background-color:#f6f6f6;
	text-align:center;
}

ul, ol, li, fieldset {
	border:0px;
	margin:0px;
	padding:0px;
	list-style:none;
}

.hidden {
	display: none;
}

a {
	color:blue;
}

#signUp {
	border:10px solid #ccc;
	background-color:#fff;
	padding:10px 15px;
	width:550px;
	margin:auto;
	text-align:left;
}

#signUpForm {
	height:200px;
	width:350px;
	overflow:hidden;
}

#signUpForm form {
	width:100%;
	height:100%;
	overflow:auto;
	padding-right:17px;
}

#signUp label {
	display:block;
}

#signUp input {
	font-size:1.0em;
	width:310px;
	padding:6px;
}

#signUp input.submit {
	font-size:0.9em;
	width:110px;
	padding:2px;
}

.formSection li {
	margin-top:15px;
}

#signUpBreadcrumb {
	display:block;
	float:left;
	width:180px;
	margin-right:15px;
}

#signUpBreadcrumb li a {
	border:1px solid #777;
	padding:12px 9px;
	margin-bottom:6px;
	color:#888;
	display:block;
	text-decoration:none;
}

#signUpBreadcrumb li.active a {
	color:#000;
	background-color:#f6f6f6;
}

#signUpBreadcrumb li a:hover {
	background-color:#eee;
	color:#000;
}

.section {
	height:200px;
	xxxmargin-left:200px;
	padding-bottom:20px;
	margin-bottom:15px;
	border-bottom:1px solid orange;
}

.httpHelper {
	display:;
	float:left;
	width:42px;
	padding:4px 2px;
}

.httpInput {
	width:263px !important;
}